[Unit]
Description=Disable NVIDIA card on resume
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'gpu-ctl f'

[Install]
WantedBy=systemd-suspend.target