[Unit]
Description=Disable NVIDIA card on resume
Before=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'gpu-ctl s && sleep 10 && gpu-ctl f && gpu-ctl s'

[Install]
WantedBy=suspend.target